@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

.logo-box{
    display: block;
    flex-grow: 0.8;
    object-fit: none;

}
.logo{
    display: block;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: auto;
    font-family: "Source Code Pro", monospace;
    font-weight: 300;
    line-height: 27.2px;
    font-size: 14px;
    object-fit: none;
}
.logo-img{
    max-height: 65px ;

}
@media (max-width: 768px) {
    .logo-img{
        max-height: 45px ;
    }
}
.header-elements{
    padding: 18.5px 30.8px 18.5px 30.8px ;
}

.header{
    background-color: rgba(255, 255, 255, 0.08);
}
.fa-instagram{
    color: rgb(255, 255, 255);
    line-height: 27.2px;
    font-size: 20px;
}


.fa-facebook{
    line-height: 22.2px;
    font-size: 20px;
    
    color: rgb(255, 255, 255);
}

.fa-whatsapp{
    line-height: 28.2px;
    font-size: 20px;
    color: rgb(255, 255, 255);

}

.links-social{
    align-items: center;
    justify-items: center;
    display: flex;
}

.header-elements{
    padding-top: 1.8vw;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-bottom: 1.8vw;
    display: flex;
    align-items: center;
}
.navigation-bar{
    display: block;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    text-align: center;
}

.navigation-bar-elements{
    display: flex;
     padding: 1.6px 0px 1.6px 0px;
    gap: 25px;;
    flex-shrink: 0;
    font-family: "Source Code Pro", monospace;
    font-weight: 300;
    line-height: 27.2px;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    justify-items: center;
}


.logo-text{
    text-align: center;
    color: rgb(255, 255, 255);
    cursor: pointer;
    text-underline-offset: 6px;

}
.navigation-bar-text{
    color: rgb(255, 255, 255);
    cursor: pointer;
    text-underline-offset: 6px;
    text-decoration: underline;
    text-decoration-color: rgba(77, 77, 77, 0.555);

}
a, a:focus {outline : none;}



.links-social{
    color: white;
    border: none;
    outline : none;
    outline : none;
    display: flex;
    gap: 25px;
    font-size: 22px;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding-right: 25px;
}



@media (max-width: 768px) {
    .main{
        min-width: 110% !important;
    
     
    }
}

.free-badge{
    display: none !important;
}

.content-wrapper{
    padding-top: 50px;
    font-weight: 300;
    flex-direction: column;
    font-size: 20px;
    width: 100%;
    box-sizing: content-box;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}
.footer{
    display: flex;
    padding: 16px 0px 16px 0px;
    justify-items: center;
    align-content: center;
    align-items: center;
}
.dev-link:link { 
    text-decoration: none; 
  } 
  a:visited { 
    text-decoration: none; 
  } 
  a:hover { 
    text-decoration: none; 
  } 
  a:active { 
    text-decoration: none; 
  }

  .slide-background{
    position: absolute;
    z-index: -900;
    max-width: 100%;
    max-height: 100%;
   
  }

  .mySlides{
   
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }